<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="plantilla/plantilla :: head"></head>
<body>
<header th:replace="plantilla/plantilla :: header"></header>
<div class="container text-center">
      <h1 class="text-secondary border border-success border-top-0"
          th:text="${titulo}"/><br/>
      <div class="card">
        <div class="card-body">
          <form th:action="@{/acciones/forminsertar}" th:object=${acciones} method="post">
            <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role="alert">
              Verifique los siguientes errores
              <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
              </ul>
            </div>
            <div class="row">

              <div class="col-md-2">
                <div class="form-group">
                  <label for="insectida">Insectida</label>
                  <input type="text" class="form-control" th:field="*{insectida}" id="insectida" name="insectida"
                         placeholder="Tipo de insectidas" required="required">

                </div>
              </div>
                <br/>
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
            <input type="hidden" th:field="*{id_accion}"/>

          </form>
        </div>
      </div>
</div>
<footer th:replace="plantilla/plantilla :: footer"></footer>
</body>
</html>