<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="plantilla/plantilla :: head"></head>
<body>
<header th:replace="plantilla/plantilla :: header"></header>
<div class="container text-center">
    <h1 class="text-secondary border border-success border-top-0"
        th:text="${mensaje}"></h1>
    <br/>
    <div class="card">
        <div class="card-body">
            <form th:action="@{/login}" method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="username">Usuario</label>
                            <input type="text" class="form-control" id="username" name="username"
                                   placeholder="Usuario" required="required">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="password">Clave</label>
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="Clave" required="required">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <br/>
                        <button type="submit" class="btn btn-primary">Mandar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="plantilla/plantilla :: footer"></footer>
</body>
</html>